Diagnostics:
  UnusedIncludes: Strict
InlayHints:
  Enabled: No
  ParameterNames: No
  DeducedTypes: No
Hover:
  ShowAKA: Yes
CompileFlags:
  Add: 
    - "-std=c++20" # 使用C++20标准
    - "-ferror-limit=0"
  CompilationDatabase: "./build/Ninja_debug"