Diagnostics:
  UnusedIncludes: Strict
InlayHints:
  Enabled: No
  ParameterNames: No
  DeducedTypes: No
Hover:
  ShowAKA: Yes
CompileFlags:
  Add: 
    - /std:c++20
    - -ferror-limit=0
    - -D_HAS_CXX17=1
    - -D_HAS_CXX20=1
    - -D_HAS_CXX23=1
    - -D_MSVC_LANG=202002L
  Remove:
    - /std:c++20
    - /MP
    - /Zc:preprocessor
  CompilationDatabase: "build/Ninja_debug"