Diagnostics:
  UnusedIncludes: Strict
InlayHints:
  Enabled: No
  ParameterNames: No
  DeducedTypes: No
Hover:
  ShowAKA: Yes
CompileFlags:
  Add: 
    - -ferror-limit=0
    - -D_HAS_CXX17=1
    - -D_HAS_CXX20=1
    - -D_HAS_CXX23=1
    - /std:c++latest
  CompilationDatabase: "./build/Ninja_debug"