<?include "cpack_variables.wxi"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" RequiredVersion="3.6.3303.0"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package Name="$(var.DOODLE_PACKAGE_NAME)" Language="1033" Version="$(var.DOODLE_PACKAGE_VERSION)" Manufacturer="$(var.DOODLE_PACKAGE_VENDOR)" UpgradeCode="$(var.DOODLE_WIX_UPGRADE_GUID)" InstallerVersion="301">

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>
        <MajorUpgrade Schedule="afterInstallValidate" AllowDowngrades="yes"/>
        <WixVariable Id="WixUILicenseRtf" Value="$(var.DOODLE_WIX_LICENSE_RTF)"/>


        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="UUIID_DIR" Name="uuiid">
                <Directory Id="DOODLE_ROOT" Name="doodle">
                </Directory>
            </Directory>
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuDir" Name="doodle">
            </Directory>
        </StandardDirectory>

        <Property Id="WIXUI_INSTALLDIR" Value="DOODLE_ROOT"/>
        <Property Id="INSTALL_ROOT" Secure="yes">
            <RegistrySearch Id="FindInstallLocation" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]" Name="InstallLocation" Type="raw"/>
        </Property>
        <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALL_ROOT]" After="CostFinalize"/>

        @DOODLE_PACKAGE_FEATURE_REF_ID_LIST@

        <!--        <UIRef Id="$(var.DOODLE_WIX_UI_REF)"/>-->
        <UI Id="DoodleUI">
            <ui:WixUI Id="WixUI_Mondo"/>
            <UIRef Id="WixUI_ErrorProgressText"/>
        </UI>
    </Package>
</Wix>
