<?xml version="1.0" encoding="UTF-8"?>

<?include "cpack_variables.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     RequiredVersion="3.6.3303.0">

    <Product Id="*"
             Name="$(var.DOODLE_PACKAGE_NAME)"
             Language="1033"
             Version="$(var.DOODLE_PACKAGE_VERSION)"
             Manufacturer="$(var.DOODLE_PACKAGE_VENDOR)"
             UpgradeCode="$(var.DOODLE_WIX_UPGRADE_GUID)">

        <Package InstallerVersion="301"
                 Compressed="yes"
                 Comments='这是一个动画辅助开发工具包'/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <MajorUpgrade
                Schedule="afterInstallValidate"
                AllowDowngrades="yes"/>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.DOODLE_WIX_LICENSE_RTF)"/>
        <Property Id="WIXUI_INSTALLDIR" Value="DOODLE_ROOT"/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="UUIID_DIR" Name="uuiid">
                    <Directory Id="DOODLE_ROOT" Name="doodle">
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="doodle">
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop">
            </Directory>
        </Directory>

        <!--添加主次表支持-->
        <DirectoryRef Id="DOODLE_ROOT">
            <Component Id="RegistryEntries" Guid="354e2dc2-c36f-4735-a8f0-1204ecd42058">
                <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\doodle.main\shell\open\command"
                             ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                    <RegistryValue Type="string"
                                   Value="&quot;[DOODLE_ROOT]\bin\doodle_limited_exe.exe&quot; &quot;%1&quot;"/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\doodle.main\DefaultIcon" ForceCreateOnInstall="yes"
                             ForceDeleteOnUninstall="yes">
                    <RegistryValue Type="string" Value="&quot;[DOODLE_ROOT]\bin\doodle_limited_exe.exe&quot;"/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\.doodle_db" ForceCreateOnInstall="yes"
                             ForceDeleteOnUninstall="yes">
                    <RegistryValue Type="string" Value="doodle.main"/>
                </RegistryKey>
            </Component>
        </DirectoryRef>
        <Property Id="INSTALL_ROOT" Secure="yes">
            <RegistrySearch Id="FindInstallLocation" Root="HKLM"
                            Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]"
                            Name="InstallLocation" Type="raw"/>
        </Property>
        <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALL_ROOT]" After="CostFinalize"/>

        <Feature Id="ProductFeature"
                 Display="expand"
                 Absent="disallow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle"
                 Level="1">
            <ComponentGroupRef Id="com_group_bin"/>
            <ComponentRef Id="com_doodle_limited_exe_exe"/>
            <!--            <ComponentRef Id="StartMenuShortcuts"/>-->
            <ComponentRef Id="RegistryEntries"/>
            <!--            <ComponentRef Id="doodle_desktop"/>-->
            <Component Id="doodle_desktop" Guid="*"
                       Directory="DesktopFolder">
                <Shortcut Id="CM_DSP_bin.doodle_limited_exe.exe"
                          Name="Doodle"
                          Target="[#doodle_limited_exe_exe]"
                          WorkingDirectory="DesktopFolder"/>
                <RegistryValue Root="HKCU"
                               Key="Software\uuiid\Doodle"
                               Name="installed_desktop" Type="integer" Value="1"
                               KeyPath="yes"/>
            </Component>
            <Component Id="StartMenuShortcuts"
                       Guid="C96D5AEF-4EBB-42E9-A238-69D2459B8740"
                       Directory="ProgramMenuDir">
                <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>

                <!--菜单快捷方式-->
                <Shortcut Id="CM_SP_bin.doodle_limited_exe.exe"
                          Name="Doodle"
                          Target="[#doodle_limited_exe_exe]"
                          WorkingDirectory="DesktopFolder"/>

                <!--注册表-->
                <RegistryValue Root="HKCU" Key="Software\uuiid\Doodle"
                               Name="installed"
                               Type="integer"
                               Value="1"
                               KeyPath="yes"/>
                <!--卸载方式-->
                <Shortcut Id="UNINSTALL" Name="Uninstall Doodle" Description="Uninstalls Doodle"
                          Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>


            </Component>
        </Feature>
        <Feature Id="MayaPlug"
                 Display="expand"
                 Absent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle Maya Plug"
                 Level="1">
            <ComponentGroupRef Id="com_group_maya">
            </ComponentGroupRef>
        </Feature>

        <!--        <UIRef Id="$(var.DOODLE_WIX_UI_REF)"/>-->
        <UI Id="DoodleUI">
            <UIRef Id="WixUI_Mondo"/>
            <UIRef Id="WixUI_ErrorProgressText"/>
        </UI>
    </Product>
</Wix>
