<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="*">
        <RegistryKey Root="HKEY_LOCAL_MACHINE" Key="SOFTWARE\Classes\doodle.main.1\shell\open\command" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="Default Value" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>