<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALL_PREFIX_1" Name="uuiid">
                    <Directory Id="INSTALL_ROOT" Name="doodle34">
                        <Directory Id="CM_DP_bin" Name="bin"/>
                        <Directory Id="CM_DP_plug" Name="plug">
                            <Directory Id="CM_DP_plug.maya" Name="maya">
                                <Directory Id="CM_DP_plug.maya.icons" Name="icons"/>
                                <Directory Id="CM_DP_plug.maya.plug_ins" Name="plug-ins"/>
                                <Directory Id="CM_DP_plug.maya.scripts" Name="scripts">
                                    <Directory Id="CM_DP_plug.maya.scripts.scripts" Name="scripts"/>
                                    <Directory Id="CM_DP_plug.maya.scripts.UiFile" Name="UiFile"/>
                                </Directory>
                            </Directory>
                            <Directory Id="CM_DP_plug.uePlug" Name="uePlug">
                                <Directory Id="CM_DP_plug.uePlug.4.25" Name="4.25">
                                    <Directory Id="CM_DP_plug.uePlug.4.25.Plugins" Name="Plugins">
                                        <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle" Name="Doodle">
                                            <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Binaries" Name="Binaries">
                                                <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Binaries.Win64" Name="Win64"/>
                                            </Directory>
                                            <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Content" Name="Content">
                                                <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Content.eye_fun" Name="eye_fun"/>
                                                <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Content.film_particle" Name="film_particle"/>
                                            </Directory>
                                            <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Resources" Name="Resources"/>
                                            <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source" Name="Source">
                                                <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source.Doodle" Name="Doodle">
                                                    <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source.Doodle.Private" Name="Private"/>
                                                    <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source.Doodle.Public" Name="Public"/>
                                                </Directory>
                                                <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source.DoodleEditor" Name="DoodleEditor">
                                                    <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source.DoodleEditor.Private" Name="Private"/>
                                                    <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source.DoodleEditor.Public" Name="Public"/>
                                                </Directory>
                                                <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source.doodleUI" Name="doodleUI">
                                                    <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source.doodleUI.Private" Name="Private"/>
                                                    <Directory Id="CM_DP_plug.uePlug.4.25.Plugins.Doodle.Source.doodleUI.Public" Name="Public"/>
                                                </Directory>
                                            </Directory>
                                        </Directory>
                                    </Directory>
                                </Directory>
                                <Directory Id="CM_DP_plug.uePlug.4.26" Name="4.26">
                                    <Directory Id="CM_DP_plug.uePlug.4.26.Plugins" Name="Plugins">
                                        <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle" Name="Doodle">
                                            <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Binaries" Name="Binaries">
                                                <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Binaries.Win64" Name="Win64"/>
                                            </Directory>
                                            <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Content" Name="Content">
                                                <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Content.eye_fun" Name="eye_fun"/>
                                                <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Content.film_particle" Name="film_particle"/>
                                            </Directory>
                                            <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Resources" Name="Resources"/>
                                            <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source" Name="Source">
                                                <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source.Doodle" Name="Doodle">
                                                    <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source.Doodle.Private" Name="Private"/>
                                                    <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source.Doodle.Public" Name="Public"/>
                                                </Directory>
                                                <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source.DoodleEditor" Name="DoodleEditor">
                                                    <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source.DoodleEditor.Private" Name="Private"/>
                                                    <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source.DoodleEditor.Public" Name="Public"/>
                                                </Directory>
                                                <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source.doodleUI" Name="doodleUI">
                                                    <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source.doodleUI.Private" Name="Private"/>
                                                    <Directory Id="CM_DP_plug.uePlug.4.26.Plugins.Doodle.Source.doodleUI.Public" Name="Public"/>
                                                </Directory>
                                            </Directory>
                                        </Directory>
                                    </Directory>
                                </Directory>
                                <Directory Id="CM_DP_plug.uePlug.4.27" Name="4.27">
                                    <Directory Id="CM_DP_plug.uePlug.4.27.Plugins" Name="Plugins">
                                        <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle" Name="Doodle">
                                            <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Binaries" Name="Binaries">
                                                <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Binaries.Win64" Name="Win64"/>
                                            </Directory>
                                            <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Content" Name="Content">
                                                <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Content.blueprint_" Name="blueprint_"/>
                                                <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Content.eye_fun" Name="eye_fun"/>
                                                <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Content.film_particle" Name="film_particle"/>
                                            </Directory>
                                            <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Resources" Name="Resources"/>
                                            <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source" Name="Source">
                                                <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source.Doodle" Name="Doodle">
                                                    <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source.Doodle.Private" Name="Private"/>
                                                    <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source.Doodle.Public" Name="Public"/>
                                                </Directory>
                                                <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source.DoodleEditor" Name="DoodleEditor">
                                                    <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source.DoodleEditor.Private" Name="Private"/>
                                                    <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source.DoodleEditor.Public" Name="Public"/>
                                                </Directory>
                                                <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source.doodleUI" Name="doodleUI">
                                                    <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source.doodleUI.Private" Name="Private"/>
                                                    <Directory Id="CM_DP_plug.uePlug.4.27.Plugins.Doodle.Source.doodleUI.Public" Name="Public"/>
                                                </Directory>
                                            </Directory>
                                        </Directory>
                                    </Directory>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="PROGRAM_MENU_FOLDER" Name="Doodle"/>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop"/>
        </Directory>
    </Fragment>
</Wix>