<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Feature Id="ProductFeature" Display="expand" Absent="disallow" ConfigurableDirectory="INSTALL_ROOT" Title="Doodle" Level="1">
            <ComponentRef Id="RegistryEntries"/>
        </Feature>
        <FeatureRef Id="ProductFeature">
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_console_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_console_l1_2_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_datetime_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_debug_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_errorhandling_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_file_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_file_l1_2_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_file_l2_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_handle_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_heap_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_interlocked_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_libraryloader_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_localization_l1_2_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_memory_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_namedpipe_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_processenvironment_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_processthreads_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_processthreads_l1_1_1.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_profile_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_rtlsupport_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_string_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_synch_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_synch_l1_2_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_sysinfo_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_timezone_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_core_util_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_conio_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_convert_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_environment_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_filesystem_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_heap_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_locale_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_math_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_multibyte_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_private_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_process_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_runtime_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_stdio_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_string_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_time_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.api_ms_win_crt_utility_l1_1_0.dll"/>
            <ComponentRef Id="CM_CP_bin.avcodec_58.dll"/>
            <ComponentRef Id="CM_CP_bin.avformat_58.dll"/>
            <ComponentRef Id="CM_CP_bin.avutil_56.dll"/>
            <ComponentRef Id="CM_CP_bin.boost_contract_vc143_mt_x64_1_78.dll"/>
            <ComponentRef Id="CM_CP_bin.boost_filesystem_vc143_mt_x64_1_78.dll"/>
            <ComponentRef Id="CM_CP_bin.boost_locale_vc143_mt_x64_1_78.dll"/>
            <ComponentRef Id="CM_CP_bin.boost_program_options_vc143_mt_x64_1_78.dll"/>
            <ComponentRef Id="CM_CP_bin.brotlicommon.dll"/>
            <ComponentRef Id="CM_CP_bin.brotlidec.dll"/>
            <ComponentRef Id="CM_CP_bin.bz2.dll"/>
            <ComponentRef Id="CM_CP_bin.CONCRT140.dll"/>
            <ComponentRef Id="CM_CP_bin.D3DCOMPILER_47.dll"/>
            <ComponentRef Id="CM_CP_bin.date_tz.dll"/>
            <ComponentRef Id="CM_CP_bin.DoodleExe.exe"/>
            <ComponentRef Id="CM_CP_bin.fmt.dll"/>
            <ComponentRef Id="CM_CP_bin.freetype.dll"/>
            <ComponentRef Id="CM_CP_bin.harfbuzz.dll"/>
            <ComponentRef Id="CM_CP_bin.jpeg62.dll"/>
            <ComponentRef Id="CM_CP_bin.liblzma.dll"/>
            <ComponentRef Id="CM_CP_bin.libpng16.dll"/>
            <ComponentRef Id="CM_CP_bin.msvcp140.dll"/>
            <ComponentRef Id="CM_CP_bin.msvcp140_1.dll"/>
            <ComponentRef Id="CM_CP_bin.msvcp140_2.dll"/>
            <ComponentRef Id="CM_CP_bin.msvcp140_atomic_wait.dll"/>
            <ComponentRef Id="CM_CP_bin.msvcp140_codecvt_ids.dll"/>
            <ComponentRef Id="CM_CP_bin.opencv_core.dll"/>
            <ComponentRef Id="CM_CP_bin.opencv_freetype.dll"/>
            <ComponentRef Id="CM_CP_bin.opencv_imgcodecs.dll"/>
            <ComponentRef Id="CM_CP_bin.opencv_imgproc.dll"/>
            <ComponentRef Id="CM_CP_bin.opencv_videoio.dll"/>
            <ComponentRef Id="CM_CP_bin.spdlog.dll"/>
            <ComponentRef Id="CM_CP_bin.sqlite3.dll"/>
            <ComponentRef Id="CM_CP_bin.swresample_3.dll"/>
            <ComponentRef Id="CM_CP_bin.swscale_5.dll"/>
            <ComponentRef Id="CM_CP_bin.tiff.dll"/>
            <ComponentRef Id="CM_CP_bin.token.doodle_token"/>
            <ComponentRef Id="CM_CP_bin.ucrtbase.dll"/>
            <ComponentRef Id="CM_CP_bin.vcruntime140.dll"/>
            <ComponentRef Id="CM_CP_bin.vcruntime140_1.dll"/>
            <ComponentRef Id="CM_CP_bin.webp.dll"/>
            <ComponentRef Id="CM_CP_bin.webpdecoder.dll"/>
            <ComponentRef Id="CM_CP_bin.zlib1.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.doodle.mod"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.back_cam.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.clear.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.cloth_to_fbx.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.comm_play_inco.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.create_hud.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.doodle_afterimage.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.doodle_delete_attr.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.export_usd.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.mark_sim.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.OUTabc.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.OUTabc2.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.OUTcam.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.OUTfbx.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.ql_rest.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.ql_rest.psd"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.randomColor.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.remesh.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.repair.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.set_cache.png"/>
            <ComponentRef Id="CM_CP_plug.maya.icons.ue_delete_weight.png"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.avcodec_58.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.avformat_58.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.avutil_56.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.boost_contract_vc143_mt_x64_1_78.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.boost_filesystem_vc143_mt_x64_1_78.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.boost_locale_vc143_mt_x64_1_78.dll"/>
            <ComponentRef Id="CM_CH_3af2394_boost_program_options_vc143_mt_x64_1_78.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.brotlicommon.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.brotlidec.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.bz2.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.date_tz.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.doodle_maya_2018.mll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.doodle_maya_2019.mll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.doodle_maya_2020.mll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.fmt.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.freetype.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.harfbuzz.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.jpeg62.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.liblzma.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.libpng16.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.opencv_core.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.opencv_freetype.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.opencv_imgcodecs.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.opencv_imgproc.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.opencv_videoio.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.spdlog.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.sqlite3.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.swresample_3.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.swscale_5.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.tiff.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.webp.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.webpdecoder.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.plug_ins.zlib1.dll"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.Doodle_clear.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.Doodle_clear.pyc"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.Doodle_deleteAttr.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.Doodle_deleteAttr.pyc"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.Doodle_deleteSurplusWeight.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.Doodle_deleteSurplusWeight.pyc"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.Doodle_PolyRemesh.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.Doodle_shelf.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.maya_fun_tool.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.shelfBase.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.__init__.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.scripts.__init__.pyc"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.UiFile.DleClothToFbx.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.UiFile.DleClothToFbx.pyc"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.UiFile.DleClothToFbx.ui"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.UiFile.__init__.py"/>
            <ComponentRef Id="CM_CP_plug.maya.scripts.UiFile.__init__.pyc"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.25.Plugins.Doodle.Binaries.Win64.hdf5.dll"/>
            <ComponentRef Id="CM_CH_b33c0ab_UE4Editor_doodle.dll"/>
            <ComponentRef Id="CM_CH_a57c793_UE4Editor_doodle.pdb"/>
            <ComponentRef Id="CM_CH_b489339_UE4Editor_doodleEditor.dll"/>
            <ComponentRef Id="CM_CH_82f6732_UE4Editor_doodleEditor.pdb"/>
            <ComponentRef Id="CM_CH_03df8bd_UE4Editor_doodleUI.dll"/>
            <ComponentRef Id="CM_CH_f454739_UE4Editor_doodleUI.pdb"/>
            <ComponentRef Id="CM_CH_e12e3c1_UE4Editor.modules"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.25.Plugins.Doodle.Content.Doodle_color.uasset"/>
            <ComponentRef Id="CM_CH_7d947d5_Doodle_Custom_stencil.uasset"/>
            <ComponentRef Id="CM_CH_523c16e_Doodle_Custom_stencil_Inst.uasset"/>
            <ComponentRef Id="CM_CH_d192b7c_doodle_filter_VFX.uasset"/>
            <ComponentRef Id="CM_CH_16f4df5_doodle_filter_VFX_Inst.uasset"/>
            <ComponentRef Id="CM_CH_1fc925c_Doodle_indicator.uasset"/>
            <ComponentRef Id="CM_CH_0ae4476_doodle_mat_coll.uasset"/>
            <ComponentRef Id="CM_CH_f8e0df7_Doodle_MoviePipelineConfig.uasset"/>
            <ComponentRef Id="CM_CH_ef11aa5_doodle_PP_RadialBlur.uasset"/>
            <ComponentRef Id="CM_CH_8604e35_doodle_PP_RadialBlur_Collection.uasset"/>
            <ComponentRef Id="CM_CH_c942146_doodle_PP_RadialBlur_Collection_Inst.uasset"/>
            <ComponentRef Id="CM_CH_9585014_doodle_PP_RadialBlur_Inst.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.25.Plugins.Doodle.Content.Doodle_X.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.25.Plugins.Doodle.Content.Doodle_Y.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.25.Plugins.Doodle.Content.Doodle_Z.uasset"/>
            <ComponentRef Id="CM_CH_9b5ad02_eye_highLights.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.25.Plugins.Doodle.Content.eye_fun.tex.uasset"/>
            <ComponentRef Id="CM_CH_82fbc15_film_particle.uasset"/>
            <ComponentRef Id="CM_CH_3ac78ad_film_particle_i.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.25.Plugins.Doodle.Doodle.uplugin"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.25.Plugins.Doodle.Resources.ButtonIcon_40x.png"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.25.Plugins.Doodle.Resources.Icon128.png"/>
            <ComponentRef Id="CM_CH_0465ac4_Doodle.Build.cs"/>
            <ComponentRef Id="CM_CH_c0b79fa_Doodle.cpp"/>
            <ComponentRef Id="CM_CH_cf6c480_DoodleConfigLight.cpp"/>
            <ComponentRef Id="CM_CH_eab483c_DoodleConfigLightActor.cpp"/>
            <ComponentRef Id="CM_CH_4451893_DoodleCurveCrowd.cpp"/>
            <ComponentRef Id="CM_CH_710b20c_DoodleDirectionalLightDome.cpp"/>
            <ComponentRef Id="CM_CH_c316132_DoodleFireLight.cpp"/>
            <ComponentRef Id="CM_CH_ac98f3c_DoodleLightWeight.cpp"/>
            <ComponentRef Id="CM_CH_330c880_fireLight.cpp"/>
            <ComponentRef Id="CM_CH_fcdb060_PasserbyAnimInstance.cpp"/>
            <ComponentRef Id="CM_CH_0d2c6db_Doodle.h"/>
            <ComponentRef Id="CM_CH_f3f45d3_DoodleConfigLight.h"/>
            <ComponentRef Id="CM_CH_22010b1_DoodleConfigLightActor.h"/>
            <ComponentRef Id="CM_CH_7ebd6fe_DoodleCurveCrowd.h"/>
            <ComponentRef Id="CM_CH_56e3e4c_DoodleDirectionalLightDome.h"/>
            <ComponentRef Id="CM_CH_dbf0bd1_DoodleError.h"/>
            <ComponentRef Id="CM_CH_93d4c7c_DoodleFireLight.h"/>
            <ComponentRef Id="CM_CH_18e9be5_DoodleLightWeight.h"/>
            <ComponentRef Id="CM_CH_ca98e37_fireLight.h"/>
            <ComponentRef Id="CM_CH_76e909f_PasserbyAnimInstance.h"/>
            <ComponentRef Id="CM_CH_2a2b905_DoodleEditor.Build.cs"/>
            <ComponentRef Id="CM_CH_2e2d2f6_DoodleAssetImportData.cpp"/>
            <ComponentRef Id="CM_CH_7dd7eb9_DoodleCommandlet.cpp"/>
            <ComponentRef Id="CM_CH_08bd565_DoodleCommands.cpp"/>
            <ComponentRef Id="CM_CH_7dd9814_DoodleCopyMaterial.cpp"/>
            <ComponentRef Id="CM_CH_ce7ef99_DoodleCopySpline.cpp"/>
            <ComponentRef Id="CM_CH_0d99772_DoodleEditor.cpp"/>
            <ComponentRef Id="CM_CH_9991f22_DoodleStyle.cpp"/>
            <ComponentRef Id="CM_CH_d06c053_DoodleToolPalette.cpp"/>
            <ComponentRef Id="CM_CH_9279039_DoodleAssetImportData.h"/>
            <ComponentRef Id="CM_CH_49386e5_DoodleCommandlet.h"/>
            <ComponentRef Id="CM_CH_316893f_DoodleCommands.h"/>
            <ComponentRef Id="CM_CH_fdb1f6c_DoodleCopyMaterial.h"/>
            <ComponentRef Id="CM_CH_fba3143_DoodleCopySpline.h"/>
            <ComponentRef Id="CM_CH_f1eaa33_DoodleEditor.h"/>
            <ComponentRef Id="CM_CH_832d4f2_DoodleStyle.h"/>
            <ComponentRef Id="CM_CH_5e3c793_DoodleToolPalette.h"/>
            <ComponentRef Id="CM_CH_d5e2aa8_doodleUI.Build.cs"/>
            <ComponentRef Id="CM_CH_ee0860c_doodleUI.cpp"/>
            <ComponentRef Id="CM_CH_b273163_doodleUI.h"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.26.Plugins.Doodle.Binaries.Win64.hdf5.dll"/>
            <ComponentRef Id="CM_CH_0e9c583_UE4Editor_doodle.dll"/>
            <ComponentRef Id="CM_CH_c16b18d_UE4Editor_doodle.pdb"/>
            <ComponentRef Id="CM_CH_5f4bac3_UE4Editor_doodleEditor.dll"/>
            <ComponentRef Id="CM_CH_c102340_UE4Editor_doodleEditor.pdb"/>
            <ComponentRef Id="CM_CH_29585e5_UE4Editor_doodleUI.dll"/>
            <ComponentRef Id="CM_CH_9e89992_UE4Editor_doodleUI.pdb"/>
            <ComponentRef Id="CM_CH_526d01e_UE4Editor.modules"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.26.Plugins.Doodle.Content.Doodle_color.uasset"/>
            <ComponentRef Id="CM_CH_6dd846e_Doodle_Custom_stencil.uasset"/>
            <ComponentRef Id="CM_CH_7c704c4_Doodle_Custom_stencil_Inst.uasset"/>
            <ComponentRef Id="CM_CH_fc0c63e_doodle_filter_VFX.uasset"/>
            <ComponentRef Id="CM_CH_d53ef86_doodle_filter_VFX_Inst.uasset"/>
            <ComponentRef Id="CM_CH_e5f6d71_Doodle_indicator.uasset"/>
            <ComponentRef Id="CM_CH_2277015_doodle_mat_coll.uasset"/>
            <ComponentRef Id="CM_CH_d095f7c_Doodle_MoviePipelineConfig.uasset"/>
            <ComponentRef Id="CM_CH_5619344_doodle_PP_RadialBlur.uasset"/>
            <ComponentRef Id="CM_CH_3cca923_doodle_PP_RadialBlur_Collection.uasset"/>
            <ComponentRef Id="CM_CH_ad654b8_doodle_PP_RadialBlur_Collection_Inst.uasset"/>
            <ComponentRef Id="CM_CH_5f251ac_doodle_PP_RadialBlur_Inst.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.26.Plugins.Doodle.Content.Doodle_X.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.26.Plugins.Doodle.Content.Doodle_Y.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.26.Plugins.Doodle.Content.Doodle_Z.uasset"/>
            <ComponentRef Id="CM_CH_87da139_eye_highLights.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.26.Plugins.Doodle.Content.eye_fun.tex.uasset"/>
            <ComponentRef Id="CM_CH_1093106_film_particle.uasset"/>
            <ComponentRef Id="CM_CH_1c7f721_film_particle_i.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.26.Plugins.Doodle.Doodle.uplugin"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.26.Plugins.Doodle.Resources.ButtonIcon_40x.png"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.26.Plugins.Doodle.Resources.Icon128.png"/>
            <ComponentRef Id="CM_CH_5be378e_Doodle.Build.cs"/>
            <ComponentRef Id="CM_CH_98dd333_Doodle.cpp"/>
            <ComponentRef Id="CM_CH_cef15d6_DoodleConfigLight.cpp"/>
            <ComponentRef Id="CM_CH_00aff54_DoodleConfigLightActor.cpp"/>
            <ComponentRef Id="CM_CH_55327f3_DoodleCurveCrowd.cpp"/>
            <ComponentRef Id="CM_CH_97f2315_DoodleDirectionalLightDome.cpp"/>
            <ComponentRef Id="CM_CH_8e65adc_DoodleFireLight.cpp"/>
            <ComponentRef Id="CM_CH_7491c4a_DoodleLightWeight.cpp"/>
            <ComponentRef Id="CM_CH_b5ef5b6_fireLight.cpp"/>
            <ComponentRef Id="CM_CH_ea7c0e7_PasserbyAnimInstance.cpp"/>
            <ComponentRef Id="CM_CH_698f579_Doodle.h"/>
            <ComponentRef Id="CM_CH_efdbdbe_DoodleConfigLight.h"/>
            <ComponentRef Id="CM_CH_a7a6ba1_DoodleConfigLightActor.h"/>
            <ComponentRef Id="CM_CH_9ca45a0_DoodleCurveCrowd.h"/>
            <ComponentRef Id="CM_CH_ff7ddfe_DoodleDirectionalLightDome.h"/>
            <ComponentRef Id="CM_CH_9dbff1e_DoodleError.h"/>
            <ComponentRef Id="CM_CH_8aa3f06_DoodleFireLight.h"/>
            <ComponentRef Id="CM_CH_512c3db_DoodleLightWeight.h"/>
            <ComponentRef Id="CM_CH_dfb2ff1_fireLight.h"/>
            <ComponentRef Id="CM_CH_2baa600_PasserbyAnimInstance.h"/>
            <ComponentRef Id="CM_CH_1d61a74_DoodleEditor.Build.cs"/>
            <ComponentRef Id="CM_CH_eced0ae_DoodleAssetImportData.cpp"/>
            <ComponentRef Id="CM_CH_f066835_DoodleCommandlet.cpp"/>
            <ComponentRef Id="CM_CH_899839a_DoodleCommands.cpp"/>
            <ComponentRef Id="CM_CH_e1066c2_DoodleCopyMaterial.cpp"/>
            <ComponentRef Id="CM_CH_c1d146d_DoodleCopySpline.cpp"/>
            <ComponentRef Id="CM_CH_8a46338_DoodleEditor.cpp"/>
            <ComponentRef Id="CM_CH_fdea506_DoodleStyle.cpp"/>
            <ComponentRef Id="CM_CH_213ef51_DoodleToolPalette.cpp"/>
            <ComponentRef Id="CM_CH_3b7637f_DoodleAssetImportData.h"/>
            <ComponentRef Id="CM_CH_30e861e_DoodleCommandlet.h"/>
            <ComponentRef Id="CM_CH_da0d65d_DoodleCommands.h"/>
            <ComponentRef Id="CM_CH_07960fa_DoodleCopyMaterial.h"/>
            <ComponentRef Id="CM_CH_bb15dc7_DoodleCopySpline.h"/>
            <ComponentRef Id="CM_CH_1044dd2_DoodleEditor.h"/>
            <ComponentRef Id="CM_CH_9eb98a7_DoodleStyle.h"/>
            <ComponentRef Id="CM_CH_2a87d75_DoodleToolPalette.h"/>
            <ComponentRef Id="CM_CH_e27662f_doodleUI.Build.cs"/>
            <ComponentRef Id="CM_CH_623dcdc_doodleUI.cpp"/>
            <ComponentRef Id="CM_CH_1cc4413_doodleUI.h"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.27.Plugins.Doodle.Binaries.Win64.hdf5.dll"/>
            <ComponentRef Id="CM_CH_a4f9b78_UE4Editor_doodle.dll"/>
            <ComponentRef Id="CM_CH_b2166b8_UE4Editor_doodle.pdb"/>
            <ComponentRef Id="CM_CH_b9fe1e7_UE4Editor_doodleEditor.dll"/>
            <ComponentRef Id="CM_CH_6fbcadd_UE4Editor_doodleEditor.pdb"/>
            <ComponentRef Id="CM_CH_c016c9c_UE4Editor_doodleUI.dll"/>
            <ComponentRef Id="CM_CH_6f9a560_UE4Editor_doodleUI.pdb"/>
            <ComponentRef Id="CM_CH_0d4a6bd_UE4Editor.modules"/>
            <ComponentRef Id="CM_CH_dd5dbd0_DoodleImportUiltEditorimpl.uasset"/>
            <ComponentRef Id="CM_CH_5e22df2_doodleInportimpl.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.27.Plugins.Doodle.Content.Doodle_color.uasset"/>
            <ComponentRef Id="CM_CH_124c899_Doodle_Custom_stencil.uasset"/>
            <ComponentRef Id="CM_CH_bec99b6_Doodle_Custom_stencil_Inst.uasset"/>
            <ComponentRef Id="CM_CH_a42b35f_doodle_filter_VFX.uasset"/>
            <ComponentRef Id="CM_CH_2c13d84_doodle_filter_VFX_Inst.uasset"/>
            <ComponentRef Id="CM_CH_ad2653e_Doodle_indicator.uasset"/>
            <ComponentRef Id="CM_CH_7409765_doodle_mat_coll.uasset"/>
            <ComponentRef Id="CM_CH_128b135_Doodle_MoviePipelineConfig.uasset"/>
            <ComponentRef Id="CM_CH_4a0a4fd_doodle_PP_RadialBlur.uasset"/>
            <ComponentRef Id="CM_CH_9c6b490_doodle_PP_RadialBlur_Collection.uasset"/>
            <ComponentRef Id="CM_CH_567ee87_doodle_PP_RadialBlur_Collection_Inst.uasset"/>
            <ComponentRef Id="CM_CH_10551b5_doodle_PP_RadialBlur_Inst.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.27.Plugins.Doodle.Content.Doodle_X.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.27.Plugins.Doodle.Content.Doodle_Y.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.27.Plugins.Doodle.Content.Doodle_Z.uasset"/>
            <ComponentRef Id="CM_CH_1130cad_eye_highLights.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.27.Plugins.Doodle.Content.eye_fun.tex.uasset"/>
            <ComponentRef Id="CM_CH_258ae07_film_particle.uasset"/>
            <ComponentRef Id="CM_CH_fcb04f1_film_particle_i.uasset"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.27.Plugins.Doodle.Doodle.uplugin"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.27.Plugins.Doodle.Resources.ButtonIcon_40x.png"/>
            <ComponentRef Id="CM_CP_plug.uePlug.4.27.Plugins.Doodle.Resources.Icon128.png"/>
            <ComponentRef Id="CM_CH_0c86a16_Doodle.Build.cs"/>
            <ComponentRef Id="CM_CH_c59eee4_Doodle.cpp"/>
            <ComponentRef Id="CM_CH_ab48008_DoodleConfigLight.cpp"/>
            <ComponentRef Id="CM_CH_ceceaa5_DoodleConfigLightActor.cpp"/>
            <ComponentRef Id="CM_CH_83e5480_DoodleCurveCrowd.cpp"/>
            <ComponentRef Id="CM_CH_f604567_DoodleDirectionalLightDome.cpp"/>
            <ComponentRef Id="CM_CH_517417e_DoodleFireLight.cpp"/>
            <ComponentRef Id="CM_CH_2be4d1a_DoodleLightWeight.cpp"/>
            <ComponentRef Id="CM_CH_e747504_fireLight.cpp"/>
            <ComponentRef Id="CM_CH_2942178_PasserbyAnimInstance.cpp"/>
            <ComponentRef Id="CM_CH_3f0f451_UDoodleImportUilt.cpp"/>
            <ComponentRef Id="CM_CH_b526bf6_Doodle.h"/>
            <ComponentRef Id="CM_CH_08f82ec_DoodleConfigLight.h"/>
            <ComponentRef Id="CM_CH_663ccf5_DoodleConfigLightActor.h"/>
            <ComponentRef Id="CM_CH_d89f333_DoodleCurveCrowd.h"/>
            <ComponentRef Id="CM_CH_b46143b_DoodleDirectionalLightDome.h"/>
            <ComponentRef Id="CM_CH_b1a21c8_DoodleError.h"/>
            <ComponentRef Id="CM_CH_98c0819_DoodleFireLight.h"/>
            <ComponentRef Id="CM_CH_a1d80a8_DoodleLightWeight.h"/>
            <ComponentRef Id="CM_CH_9044b09_fireLight.h"/>
            <ComponentRef Id="CM_CH_4fe65c4_PasserbyAnimInstance.h"/>
            <ComponentRef Id="CM_CH_a75923f_UDoodleImportUilt.h"/>
            <ComponentRef Id="CM_CH_5cf6467_DoodleEditor.Build.cs"/>
            <ComponentRef Id="CM_CH_d3c3f62_DoodleAssetImportData.cpp"/>
            <ComponentRef Id="CM_CH_d36c0ff_DoodleCommandlet.cpp"/>
            <ComponentRef Id="CM_CH_1d46bc7_DoodleCommands.cpp"/>
            <ComponentRef Id="CM_CH_94a0f58_DoodleCopyMaterial.cpp"/>
            <ComponentRef Id="CM_CH_6062831_DoodleCopySpline.cpp"/>
            <ComponentRef Id="CM_CH_3db3545_DoodleCreateLevel.cpp"/>
            <ComponentRef Id="CM_CH_d836d7a_DoodleCreateLevel.h"/>
            <ComponentRef Id="CM_CH_b2b7136_DoodleEditor.cpp"/>
            <ComponentRef Id="CM_CH_5c44ae5_DoodleEditorSetting.cpp"/>
            <ComponentRef Id="CM_CH_0d24906_DoodleImportUiltEditor.cpp"/>
            <ComponentRef Id="CM_CH_b9e3311_DoodleLightActorFactory.cpp"/>
            <ComponentRef Id="CM_CH_dc46f38_DoodleLightActorFactory.h"/>
            <ComponentRef Id="CM_CH_abb01db_DoodleStyle.cpp"/>
            <ComponentRef Id="CM_CH_a364c7a_DoodleToolPalette.cpp"/>
            <ComponentRef Id="CM_CH_eae97f2_DoodleAssetImportData.h"/>
            <ComponentRef Id="CM_CH_bca0b45_DoodleCommandlet.h"/>
            <ComponentRef Id="CM_CH_6d7875f_DoodleCommands.h"/>
            <ComponentRef Id="CM_CH_824d8c4_DoodleCopyMaterial.h"/>
            <ComponentRef Id="CM_CH_fafec3d_DoodleCopySpline.h"/>
            <ComponentRef Id="CM_CH_5d23a9d_DoodleEditor.h"/>
            <ComponentRef Id="CM_CH_571da4d_DoodleEditorSetting.h"/>
            <ComponentRef Id="CM_CH_716961c_DoodleImportUiltEditor.h"/>
            <ComponentRef Id="CM_CH_dfd6f1a_DoodleStyle.h"/>
            <ComponentRef Id="CM_CH_d87e3a7_DoodleToolPalette.h"/>
            <ComponentRef Id="CM_CH_bfb5b69_doodleUI.Build.cs"/>
            <ComponentRef Id="CM_CH_e52f997_doodleUI.cpp"/>
            <ComponentRef Id="CM_CH_23c5d61_doodleUI.h"/>
        </FeatureRef>
        <FeatureRef Id="ProductFeature">
            <ComponentRef Id="CM_SHORTCUT"/>
        </FeatureRef>
        <FeatureRef Id="ProductFeature">
            <ComponentRef Id="CM_SHORTCUT_DESKTOP"/>
        </FeatureRef>
    </Fragment>
</Wix>