<?xml version="1.0" encoding="UTF-8"?>

<?include "cpack_variables.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     RequiredVersion="3.6.3303.0">

    <Product Id="*"
             Name="$(var.CPACK_PACKAGE_NAME)"
             Language="1033"
             Version="$(var.CPACK_PACKAGE_VERSION)"
             Manufacturer="$(var.CPACK_PACKAGE_VENDOR)"
             UpgradeCode="$(var.CPACK_WIX_UPGRADE_GUID)">

        <Package InstallerVersion="301"
                 Compressed="yes"
                 Comments='这是一个动画辅助开发工具包'/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <MajorUpgrade
                Schedule="afterInstallValidate"
                AllowDowngrades="yes"/>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.CPACK_WIX_LICENSE_RTF)"/>
        <Property Id="WIXUI_INSTALLDIR" Value="DOODLE_ROOT"/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="UUIID_DIR" Name="uuiid">
                    <Directory Id="DOODLE_ROOT" Name="doodle">
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="doodle">
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop">
            </Directory>
        </Directory>

        <!--桌面快捷方式-->
        <Component Id="StartMenuShortcuts" Guid="C96D5AEF-4EBB-42E9-A238-69D2459B8740">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>

            <!--菜单快捷方式-->
            <Shortcut Id="CM_SP_bin.DoodleExe.exe"
                      Name="Doodle"
                      Target="[#CM_FP_bin.DoodleExe.exe]"
                      WorkingDirectory="CM_DP_bin"/>

            <!--注册表-->
            <RegistryValue Root="HKCU" Key="Software\uuiid\Doodle" Name="installed" Type="integer" Value="1"
                           KeyPath="yes"/>
            <!--卸载方式-->
            <Shortcut Id="UNINSTALL" Name="Uninstall Doodle" Description="Uninstalls Doodle"
                      Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>


        </Component>
        <!--添加主次表支持-->
        <Component Id="RegistryEntries" Guid="354e2dc2-c36f-4735-a8f0-1204ecd42058">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\doodle.main\shell\open\command"
                         ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                <RegistryValue Type="string" Value="&quot;[DOODLE_ROOT]\bin\DoodleExe.exe&quot; &quot;%1&quot;"/>
            </RegistryKey>
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\doodle.main\DefaultIcon" ForceCreateOnInstall="yes"
                         ForceDeleteOnUninstall="yes">
                <RegistryValue Type="string" Value="&quot;[DOODLE_ROOT]\bin\DoodleExe.exe&quot;"/>
            </RegistryKey>
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\.doodle_db" ForceCreateOnInstall="yes"
                         ForceDeleteOnUninstall="yes">
                <RegistryValue Type="string" Value="doodle.main"/>
            </RegistryKey>
        </Component>


        <Feature Id="ProductFeature"
                 Display="expand"
                 Absent="disallow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle"
                 Level="1">
            <ComponentGroupRef Id="bin_dir_group"/>
            <ComponentRef Id="StartMenuShortcuts"/>
            <ComponentRef Id="RegistryEntries"/>
        </Feature>
        <Feature Id="MayaPlug"
                 Display="expand"
                 Absent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle Maya Plug"
                 Level="1">
            <ComponentGroupRef Id="maya_dir_group">
            </ComponentGroupRef>
        </Feature>
        <Feature Id="Ue425"
                 Display="expand"
                 Absent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle Ue425 Plug"
                 Level="1">
            <ComponentGroupRef Id="ue425_Plug_dir_group">
            </ComponentGroupRef>
        </Feature>
        <Feature Id="Ue426"
                 Display="expand"
                 Absent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle Ue426 Plug"
                 Level="1">
            <ComponentGroupRef Id="ue426_Plug_dir_group">
            </ComponentGroupRef>
        </Feature>
        <Feature Id="Ue427"
                 Display="expand"
                 Absent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle Ue427 Plug"
                 Level="1">
            <ComponentGroupRef Id="ue427_Plug_dir_group">
            </ComponentGroupRef>
        </Feature>

        <!--        <UIRef Id="$(var.CPACK_WIX_UI_REF)"/>-->
        <UI Id="DoodleUI">
            <UIRef Id="WixUI_Mondo"/>
            <UIRef Id="WixUI_ErrorProgressText"/>
        </UI>
    </Product>
</Wix>
