<?include "cpack_variables.wxi"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     RequiredVersion="3.6.3303.0"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package Name="$(var.DOODLE_PACKAGE_NAME)"
             Language="1033"
             Version="$(var.DOODLE_PACKAGE_VERSION)"
             Manufacturer="$(var.DOODLE_PACKAGE_VENDOR)"
             UpgradeCode="$(var.DOODLE_WIX_UPGRADE_GUID)"
             InstallerVersion="301"
             >

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <MajorUpgrade
                Schedule="afterInstallValidate"
                AllowDowngrades="yes"/>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.DOODLE_WIX_LICENSE_RTF)"/>
        <Property Id="WIXUI_INSTALLDIR" Value="DOODLE_ROOT"/>

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="UUIID_DIR" Name="uuiid">
                <Directory Id="DOODLE_ROOT" Name="doodle">
                </Directory>
            </Directory>
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuDir" Name="doodle">
            </Directory>
        </StandardDirectory>


        <!--添加注册表支持-->
        <DirectoryRef Id="DOODLE_ROOT">
            <Component Id="RegistryEntries" Guid="354e2dc2-c36f-4735-a8f0-1204ecd42058">
                <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\doodle.main\shell\open\command"
                             ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                    <RegistryValue Type="string" Value="&quot;[DOODLE_ROOT]\bin\DoodleExe.exe&quot; &quot;%1&quot;"/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\doodle.main\DefaultIcon" ForceCreateOnInstall="yes"
                             ForceDeleteOnUninstall="yes">
                    <RegistryValue Type="string" Value="&quot;[DOODLE_ROOT]\bin\DoodleExe.exe&quot;"/>
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\.doodle_db" ForceCreateOnInstall="yes"
                             ForceDeleteOnUninstall="yes">
                    <RegistryValue Type="string" Value="doodle.main"/>
                </RegistryKey>
            </Component>
        </DirectoryRef>

        <Property Id="INSTALL_ROOT" Secure="yes">
            <RegistrySearch Id="FindInstallLocation" Root="HKLM"
                            Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]"
                            Name="InstallLocation" Type="raw"/>
        </Property>
        <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALL_ROOT]" After="CostFinalize"/>

        <StandardDirectory Id="DesktopFolder">
            <Component Id="doodle_desktop">
                <Shortcut Id="CM_DSP_bin.DoodleExe.exe"
                          Name="Doodle"
                          Target="[#DoodleExe_exe]"
                          WorkingDirectory="WIXUI_INSTALLDIR"/>
                <RegistryValue Root="HKCU"
                               Key="Software\uuiid\Doodle"
                               Name="installed_desktop" Type="integer" Value="1"
                               KeyPath="yes"/>
            </Component>
        </StandardDirectory>

        <DirectoryRef Id="ProgramMenuDir">
            <Component Id="StartMenuShortcuts"
                       Guid="C96D5AEF-4EBB-42E9-A238-69D2459B8740">
                <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
                <!--菜单快捷方式-->
                <Shortcut Id="CM_SP_bin.DoodleExe.exe"
                          Name="Doodle"
                          Target="[#DoodleExe_exe]"
                          WorkingDirectory="WIXUI_INSTALLDIR"/>

                <!--注册表-->
                <RegistryValue Root="HKCU" Key="Software\uuiid\Doodle"
                               Name="installed"
                               Type="integer"
                               Value="1"
                               KeyPath="yes"/>
                <!--卸载方式-->
                <Shortcut Id="UNINSTALL" Name="Uninstall Doodle" Description="Uninstalls Doodle"
                          Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>
            </Component>
        </DirectoryRef>

        <Feature Id="ProductFeature"
                 Display="expand"
                 AllowAbsent="disallow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle"
                 Level="1">
            <!--基本的 bin 文件夹 -->
            <ComponentGroupRef Id="com_group_bin"/>
            <!--基本的运行文件-->
            <ComponentRef Id="com_DoodleExe_exe"/>
            <!--            <ComponentRef Id="StartMenuShortcuts"/>-->
            <ComponentRef Id="RegistryEntries"/>
            <!--            <ComponentRef Id="doodle_desktop"/>-->
            <ComponentRef Id="doodle_desktop"/>
            <ComponentRef Id="StartMenuShortcuts"/>
        </Feature>

        <Feature Id="MayaPlug"
                 Display="expand"
                 AllowAbsent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle Maya Plug"
                 Level="1">
            <ComponentGroupRef Id="com_group_maya">
            </ComponentGroupRef>
        </Feature>

        <Feature Id="Ue427"
                 Display="expand"
                 AllowAbsent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle Ue427 Plug"
                 Level="1">
            <ComponentGroupRef Id="com_group_ue427_Plug">
            </ComponentGroupRef>
        </Feature>
        <Feature Id="Ue50"
                 Display="expand"
                 AllowAbsent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle Ue50 Plug"
                 Level="1">
            <ComponentGroupRef Id="com_group_ue50_Plug">
            </ComponentGroupRef>
        </Feature>
        <Feature Id="Ue51"
                 Display="expand"
                 AllowAbsent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle Ue51 Plug"
                 Level="1">
            <ComponentGroupRef Id="com_group_ue51_Plug">
            </ComponentGroupRef>
        </Feature>

        <Feature Id="houdini_plug"
                 Display="expand"
                 AllowAbsent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="Doodle houdini Plug"
                 Level="1">
            <ComponentGroupRef Id="com_group_houdini">
            </ComponentGroupRef>
        </Feature>


        <Feature Id="houdini_SideFX_Labs"
                 Display="expand"
                 AllowAbsent="allow"
                 ConfigurableDirectory="DOODLE_ROOT"
                 Title="houdini SideFX Plug"
                 Level="1">
            <ComponentGroupRef Id="com_group_SideFX_Labs">
            </ComponentGroupRef>
        </Feature>
        <!--        <UIRef Id="$(var.DOODLE_WIX_UI_REF)"/>-->
        <UI Id="DoodleUI">
            <ui:WixUI Id="WixUI_Mondo"/>
            <UIRef Id="WixUI_ErrorProgressText"/>
        </UI>
    </Package>
</Wix>
