<?xml version="1.0" encoding="UTF-8"?>

<?include "cpack_variables.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     RequiredVersion="3.6.3303.0">

    <Product Id="$(var.CPACK_WIX_PRODUCT_GUID)"
             Name="$(var.CPACK_PACKAGE_NAME)"
             Language="1033"
             Version="$(var.CPACK_PACKAGE_VERSION)"
             Manufacturer="$(var.CPACK_PACKAGE_VENDOR)"
             UpgradeCode="$(var.CPACK_WIX_UPGRADE_GUID)">

        <Package InstallerVersion="301" Compressed="yes"/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <MajorUpgrade
                Schedule="afterInstallValidate"
                AllowDowngrades="yes"/>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.CPACK_WIX_LICENSE_RTF)"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALL_ROOT"/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="UUIID_DIR" Name="uuiid">
                    <Directory Id="DOODLE_ROOT" Name="doodle">

                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop">
            </Directory>
        </Directory>

        <UIRef Id="$(var.CPACK_WIX_UI_REF)"/>

        <?include "properties.wxi"?>
        <?include "product_fragment.wxi"?>
    </Product>
</Wix>
